<a href="http://www.facebook.com/TringTornadoesJuniorSportsClub" _target="_blank" >
    <img class="branding-logo" src="/Media/Default/Theme/facebook_logo.png" alt="facebook" title="Like us..." />
</a>
<a href="http://twitter.com/tringtornadoes" target="_blank" >
    <img class="branding-logo" src="/Media/Default/Theme/twitter_logo.png"  alt="twitter" title="Follow us..."/>
</a>
<a href="@Href("~/")" class="navbar-brand">@WorkContext.CurrentSite.SiteName</a>
