@{
    Style.Require("Webstore.ShoppingCart");
    Script.Require("Webstore.ShoppingCart");
}

<div class="shopping-cart-view" data-ng-app="ivNet.ShoppingCart.App">
    <div class="cart" data-ng-controller="ShoppingCartController">
        
        <div class="cart-message">
            <p>You don't have any items in your shopping cart.</p>
            <a class="button" href="/shop">Continue shopping</a>
        </div>
        
        <div class="cart-detail">
            <div>
                <p>You have {{itemcount}} item(s) in your shopping cart.</p>
            </div>

            <article class="shoppingcart">
                @using (Html.BeginFormAntiForgeryPost(Url.Action("Update", "ShoppingCart", new { area = "ivNet.Webstore" })))
                {
                    <table>
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td class="numeric">Price</td>
                                <td class="size">Size</td>
                                <td class="numeric">Quantity</td>
                                <td class="numeric">Total</td>                                
                                <td class="action"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in shopitems"> 
                                <td>{{ item.Title }}</td>
                                <td>{{ item.Price | currency : "£" }}</td>
                                <td>
                                    <select name="size{{item.ProductId}}" ng-model="item.Size">
                                        <option ng-repeat="option in item.Sizes">{{option}}</option>
                                    </select>
                                </td>
                                <td><input name="prd{{item.ProductId}}" type="number" ng-model="item.Quantity" ng-change="calculate()" min="0" /></td>                                
                                <td>{{ (item.Quantity *  item.Price) | currency : "£"  }}</td>
                                <td><span class="icon delete postback" ng-click="removeItem(item.ProductId)"></span></td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr><td colspan="6">&nbsp;</td></tr>
                            <tr>
                                <td class="numeric label" colspan="3">Subtotal:</td>
                                <td class="numeric">{{subtotal | currency : "£"}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="numeric label" colspan="3">VAT (20%):</td>
                                <td class="numeric">{{vat | currency : "£"}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="numeric label" colspan="3">Total:</td>
                                <td class="numeric">{{total | currency : "£"}}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>

                    <footer>
                        <div class="group">
                            <div class="align left"><button type="submit" name="command" value="ContinueShopping">Continue shopping</button></div>
                            <div class="align right"><button type="submit" name="command" value="Checkout">Proceed to checkout</button></div>
                            @*<input type="button" onclick="testSubmit()"/>*@
                        </div>
                    </footer>
                }
            </article>
        </div>
    </div>
</div>

@*<script>
    function testSubmit() {

        $.ajax({
            url: '@Url.Action("Test", "Order", new { area = "ivNet.Webstore", id="1037", status=1 })',
            type: 'GET',
            dataType: 'json',
           
            success: function (data) {
                $('.result').html(data);
            }
        });
    }
</script>*@
