

/*article.form 
{
    padding: 10px;
    background: #f6f6f6;
}*/

/*article.form input[type="text"], input[type="password"], input[type="email"], input[type="tel"] 
{
    width: 250px;
}

article.form fieldset{
    margin-bottom: 20px;
}

article.form fieldset ul {
    list-style: none;
    margin: 0;
}

article.form fieldset ul li {
    margin-bottom: 3px;
}

article.form fieldset ul li:after {
    clear:both;
    height:0;
    content:".";
    display:block;
    visibility:hidden;
    zoom:1;
}

article.form fieldset ul li .field-label {
    float: left;
    width: 250px;
}

article.form fieldset ul li .field-editor {
    float: left;
}

article.form fieldset ul li .field-label label:after
{
    content: ":";
}

article.form .checkbox-and-label:after
{
    clear:both;
    height:0;
    content:".";
    display:block;
    visibility:hidden;
    zoom:1;
}

article.form .checkbox-and-label .checkbox
{
    float: left;width: 25px;
}

article.form .checkbox-and-label .label
{
    float: left;
}

article.form footer.commands {
    padding-top: 20px;
}

article.form footer.commands ul
{
    list-style: none;
    margin: 0;
}

article.form footer.commands ul:after {
    clear:both;
    height:0;
    content:".";
    display:block;
    visibility:hidden;
    zoom:1;
}

article.form footer.commands ul button
{
    margin: 0;
}*/