body {
  background: url('/Media/Default/Theme/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#layout-featured {
  margin-top: 50px!important;
}
div#layout-main,
div#layout-tripel {
  background-color: #fff;
  opacity: .92;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
  border: 10px solid #fff;
}
div#layout-tripel article.widget-html-widget,
div#layout-tripel article.widget-Events {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #a5a5a5;
  padding: 8px;
}
div#layout-tripel article.widget-html-widget h1,
div#layout-tripel article.widget-Events h1 {
  margin-top: 10px;
}
article.widget-ShoppingCart {
  margin-top: -388px;
  margin-right: 10px;
  float: right;
}
article.widget-ShoppingCart article span.label {
  width: inherit;
}
.box {
  background: #FFF;
}
/*==================================================
 * Effect 7
 * ===============================================*/
.effect7 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before,
.effect7:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
}
.effect7:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
img {
  border-radius: 5px;
}
img.inline {
  display: inline-block;
  border-radius: 5px;
}
img.left {
  float: left;
  margin: 0 10px 10px 0;
}
img.medium {
  width: 100px;
}
img.large {
  width: 300px;
}
img.center {
  margin: 0 auto;
  display: block;
}
img.gray-border {
  border: 10px solid #e9e9e9;
  box-shadow: 0 1px 0 #c6c6c6;
}
img.branding-logo {
  margin: 5px 5px 0 0;
  height: 40px;
  float: left;
}
section.media-library-picker-field h3 {
  display: none;
}
article.widget-ShopItems article.store-item {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #a5a5a5;
  margin-right: 5px;
}
article.widget-ShopItems article.store-item span.sku {
  display: none;
}
article.widget-ShopItems article.store-item a.back-button {
  display: none;
}
article.widget-ShopItems article.store-item header h1 {
  margin-top: 10px;
  font-size: 16px;
}
article.widget-ShopItems article.store-item img {
  width: 100%;
  height: 100%;
}
article.widget-ShopItems article.store-item button {
  margin: 5px 0;
}
div.fa-charter-link {
  background-color: #fff;
  padding: 20px;
}
div.fa-charter-link img {
  width: 150px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}
div#layout-tripel h1 {
  text-align: center;
}
div#layout-tripel article.widget {
  margin-bottom: 10px;
}
div#layout-footer hr {
  border: none;
}
article.shop-item-detail a.more-button {
  display: none;
}
article.shop-item-detail span.sku {
  display: none;
}
article.shop-item-detail article.media-item-summary {
  display: none;
}
article.shop-item-detail p.text-field {
  display: none;
}
article.shop-item-detail p.numeric-field-sort-order {
  display: none;
}
div.shop-navigation-buttons {
  margin: 10px 0;
}
div.shopping-cart-view {
  margin-top: 20px;
}
div.shopping-cart-view cart {
  width: 503px;
  margin: 0 auto;
}
div#layout-content table td {
  padding: 10px;
}
article.widget-Events h2 {
  font-size: 24px;
}
div#customer-signup-form input[type="checkbox"],
div#customer-login-form input[type="checkbox"] {
  position: relative;
  margin: 0;
}
div.checkbox-and-label div {
  float: left;
}
div.checkbox-and-label div.label {
  padding: 1.2em .6em .3em;
}
article.invoice-shipping-address footer.commands {
  margin-top: 10px;
}
#hero-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
}
#hero-wrapper .carousel-wrapper,
#hero-carousel {
  height: 100%;
  width: 100%;
  position: absolute;
}
#hero-carousel img {
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto;
}
#hero-carousel i {
  position: absolute;
  top: 50%;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
div.sponsor-images {
  height: 160px;
}
div.sponsor-images img {
  max-width: 200px;
  max-height: 160px;
  margin: auto;
  display: block;
}
div.fc-toolbar h2 {
  margin-top: 4px !important;
  font-size: 18px;
}
article.shoppingcart {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #a5a5a5;
  padding: 3px;
}
article.shoppingcart button {
  margin: 5px;
}
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
ul.menu-main-menu {
  font-size: 12px;
}
article.widget-Slider {
  display: none;
}
.label {
  color: gray;
}
form#paypalForm img {
  cursor: pointer;
}
/*# sourceMappingURL=Theme.css.map */